* {
  font-family: "Gill Sans MT", Calibri;
}
.layout {
  background-image: url(./wall6.jpg);
  background-position: center;
  background-size: cover;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web {
  color: rgb(51, 51, 183);
}
.full,
.developer {
  color: black;
}
p {
  color: white;
  font-weight: 500;
}
.quote1 {
  color: crimson;
  font-size: 18px;
}
.quote2 {
  color: blue;
  font-size: 18px;
}
.quote3 {
  color: black;
  font-size: 18px;
}
